server:
  port: 9222
  servlet:
    context-path: /backend
spring:
  application:
    name: SERVICE-BACKEND
  profiles:
    active: dev
  jackson:
    date-format: yyyy-MM-dd
    time-zone: GMT+8
management:
  endpoints:
    web:
      exposure:
        include: '*'
feign:
  sentinel:
    enabled: true
  httpclient:
    connection-timeout: 5000
logging:
  level:
    org:
      springframework:
        boot:
          autoconfigure: error
